@font-face {
  font-family: "TT Norms";
  src: local("TT Norms"),
       local("TT Norms Regular"),
       url("../fonts/TTNorms-Medium.otf") format("opentype"),
       url("../fonts/TTNorms-Regular.woff") format("woff"),
       url("../fonts/TTNorms-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms Medium"),
       url("../fonts/TTNorms-Medium.otf") format("opentype"),
       url("../fonts/TTNorms-Medium.woff") format("woff"),
       url("../fonts/TTNorms-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: local("TT Norms Bold"),
       url("../fonts/TTNorms-Bold.otf") format("opentype"),
       url("../fonts/TTNorms-Bold.woff") format("woff"),
       url("../fonts/TTNorms-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
