$main-color: #142dad;
$extra-color: #051c94;
$marker-color: #54D8AF;
$text-color: #2B335A;
$text-hovered: #556098;

$tablet-width: 1199px;
$mobile-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
