// $brand-color-1: #242424;
// $brand-color-2: #575757;
// $brand-color-3: #003D61;
// $brand-color-4: #0098DB;
// $brand-color-5: #0CBBEF;
// $brand-color-6: #FF6847;
$tablet-width: 768px;
$desktop-width: 1400px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
