$main-color: #142dad;
$extra-color: #051c94;
$marker-color: #54D8AF;
$text-color: #2B335A;
$text-hovered: #556098;
$accent-color: #54D8AF;

$notebook-width: 1199px;
$tablet-width: 991px;
$mobile-width: 767px;
$xs-mobile-width: 575px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
