.banner-zone {
  background-color: #f7f6fd;
  background-image: url("../img/bg-banner-big.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--index {
    height: 600px;
    padding-top: 120px;
    padding-bottom: 80px;

    & .btn {
      padding: 0 33px;
    }
  }

  &--contacts {
    height: 695px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &--search {
    height: 400px;

    & .btn {
      width: 200px;
    }

    & .banner-zone__text-container {
      flex-basis: 430px;
    }
  }

  &--services {
    display: flex;
    align-items: center;
    min-height: 600px;

    & .btn {
      width: 205px;
    }

    & .banner-zone__text-container {
      flex-basis: 450px;
      padding-right: 20px;
    }

    & .banner-zone__heading {
      width: 330px;
    }
  }
}

.banner-zone__content {
  @include dflex(nowrap, row, space-between, center);
}

.banner-zone__text-container {
  @include dflex(nowrap, column, flex-start, flex-start);
  flex-basis: 330px;
}

.banner-zone__heading {
  @include reset;
  margin-bottom: 20px;

  &--contacts {
    margin-bottom: 45px;
  }
}

.banner-zone__info-block {
  margin-right: 15px;

  &:not(:last-child) {
    position: relative;
    margin-bottom: 100px;

    &::after {
      @include abs-pseudo;
      bottom: -50px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #efefff;
    }
  }
}

.banner-zone__info-heading {
  @include reset;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 16px;
  font-weight: 500;
}

.banner-zone__info-paragraph {
  @include reset;
  font-size: 16px;

  & b {
    font-weight: 500;
  }

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  &--icon {
    position: relative;
    padding-left: 30px;

    &::before {
      @include abs-pseudo;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--phone {
    line-height: 22px;

    &::before {
      background-image: url("../img/icon-header-phone.svg");
      background-size: 15px;
    }
  }

  &--address {
    line-height: 22px;

    &::before {
      background-image: url("../img/icon-header-pin.svg");
      background-size: 13px 16px;
    }
  }

  &--schedule {
    line-height: 30px;
  }
}

.banner-zone__description {
  @include reset;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;

  &--search {
    margin-bottom: 35px;
    padding-right: 20px;
  }
}

.banner-zone__form {
  @include dflex(nowrap, column, flex-start, flex-start);
  flex-basis: 690px;
  height: 100%;
  padding: 50px;
  background-color: #fff;

  &--appoint.hidden {
    display: none;
  }
}

.banner-zone__form-heading {
  @include reset;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.banner-zone__form-description {
  @include reset;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 20px;

  &--appoint {
    padding-bottom: 30px;
    border-bottom: 1px solid #EAEAF5;
  }

  &--search {
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 16px;
  }
}

.banner-zone__text-inputs {
  @include dflex(wrap, row, space-between, flex-start);
  margin-bottom: 10px;
}

.banner-zone__text-inputs .banner-zone__input-text-label {
  position: relative;
  flex-basis: calc(50% - 10px);

  &--big {
    flex-basis: 100%;
  }
}

.banner-zone__form-input {
  width: 100%;
  height: 40px;
  border: none;

  &--text {
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 60px;

    &::placeholder {
      color: #A2A6B7;
      font-size: 16px;
      line-height: 40px;
      opacity: 1;
    }
  }

  &--checkbox {
    &:checked + .banner-zone__decorative-span::after {
      opacity: 1;
    }

    &:checked ~ .banner-zone__text-span {
      color: $text-color;
    }
  }

  &--search {
    width: 100%;
    height: 50px;
    padding-left: 30px;
    padding-right: 60px;
    border: 1px solid #EAEAF5;

    &::placeholder {
      color: #A2A6B7;
      font-size: 16px;
      line-height: 50px;
      opacity: 1;
    }
  }
}

.banner-zone__input-search-label {
  position: relative;
  width: 100%;

  &::after {
    @include abs-pseudo;
    top: 0;
    right: 25px;
    width: 30px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url("../img/icon-search.svg");
    cursor: pointer;
  }
}

.banner-zone__input-text-label {
  position: relative;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid #EAEAF5;
  border-radius: 10px;
  overflow: hidden;

  .banner-zone__decorative-span {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #fcfcfc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    border-right: 1px solid #EAEAF5;
  }

  &--name .banner-zone__decorative-span {
    background-image: url("../img/icon-form-person.svg");
  }

  &--phone .banner-zone__decorative-span {
    background-image: url("../img/icon-form-phone.svg");
  }

  &--doctor .banner-zone__decorative-span {
    background-image: url("../img/icon-form-doctor.svg");
  }

  &--time .banner-zone__decorative-span {
    background-image: url("../img/icon-form-clock.svg");
  }

  &--date .banner-zone__decorative-span {
    background-image: url("../img/icon-form-calendar.svg");
  }
}

.banner-zone__input-checkbox-label {
  position: relative;
  padding-left: 60px;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  & .banner-zone__decorative-span {
    position: absolute;
    top: -1px;
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: #fafafa;
    border: 1px solid #EAEAF5;
    border-radius: 5px;

    &::after {
      @include abs-pseudo;
      top: 50%;
      left: 50%;
      width: 6px;
      height: 6px;
      background-color: #54D8AF;
      border-radius: 2px;
      opacity: 0;
      transform: translate(-50%, -50%);
    }
  }

  &:hover .banner-zone__decorative-span,
  &:focus .banner-zone__decorative-span {
    border-color: $main-color;
  }

  & .banner-zone__text-span {
    font-size: 16px;
    line-height: 20px;
    color: #A2A6B7;
  }
}

.banner-zone__form-submit {
  min-width: 130px;
  margin-top: 30px;
}

@media (max-width: $notebook-width) {
  .banner-zone {
    &--index {
      min-height: 500px;
    }

    &--contacts {
      height: auto;
    }
  }

  .banner-zone__content {
    justify-content: space-around;
  }

  .banner-zone__img {
    width: 600px;
  }
}

@media (max-width: $tablet-width) {
  .banner-zone {
    &--index {
      min-height: 0;
    }

    &--search {
      height: auto;
    }

    &--services {
      min-height: 0;
      //
      // & .banner-zone__text-container {
      //     flex-basis: 200px;
      // }

      & .banner-zone__heading {
        width: auto;
      }
    }
  }

  .banner-zone__text-container {
    flex-basis: 250px;
    padding-right: 14px;
  }

  .banner-zone__description {
    font-size: 16px;
  }

  .banner-zone__img {
    width: 500px;
  }

  .banner-zone__form {
    flex-basis: 60%;
    padding: 25px;
  }
}

@media (max-width: $mobile-width) {
  .banner-zone {
    &--index {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &--search {
      & .banner-zone__text-container {
        flex-basis: auto;
      }
    }

    &--services {
      & .banner-zone__heading {
        text-align: center;
      }

      & .banner-zone__text-container {
        flex-basis: auto;
        padding-right: 0;
      }
    }
  }

  .banner-zone__content {
    justify-content: flex-start;
    flex-direction: column-reverse;
  }

  .banner-zone__img {
    width: 100%;
    margin-bottom: 30px;
  }

  .banner-zone__text-container {
    flex-basis: auto;
    align-items: center;
    padding-right: 0;

    &--contacts {
      align-items: flex-start;
    }
  }

  .banner-zone__heading {
    br {
      display: none;
    }
  }

  .banner-zone__description {
    text-align: center;
  }

  .banner-zone__form {
    flex-basis: 100%;
    margin-bottom: 30px;

    &--search {
      width: 100%;
    }
  }

  .banner-zone__info-block {
    &:not(:last-child) {
      margin-bottom: 50px;

      &::after {
        bottom: -25px;
      }
    }
  }
}

@media (max-width: $xs-mobile-width) {
  .banner-zone {
    &--index {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .banner-zone__text-inputs .banner-zone__input-text-label {
    flex-basis: 100%;
  }

  .banner-zone__form-submit {
    align-self: center;
  }
}
