.btn {
  @include transition();
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $main-color;
  border: none;

  &:hover,
  &:focus {
    background-color: $extra-color;
  }

  &--alternative {
      color: $main-color;
      background-color: #fff;
      font-weight: 500;
      border: 1px solid $main-color;

      &:hover,
      &:focus {
        color: #fff;
        background-color: $main-color;
      }
  }
}
