.container {
  width: 1170px;
  margin: 0 auto;
}

@media (max-width: $notebook-width) {
  .container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: $tablet-width) {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: $mobile-width) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
}
