.footer__top-row {
  border-bottom: 1px solid #eeeeff;
}

.footer__top-row .container {
  @include dflex(nowrap, row, space-between, center);
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__top-menu {
  @include list-reset;
  @include dflex(nowrap, row, space-between, center);
}

.footer__top-menu-item {
  &:not(:last-child) {
    margin-right: 27px;
  }
}

.footer__contacts-phone {
  position: relative;
  margin-right: 40px;
  padding-left: 35px;

  &::before {
    @include abs-pseudo;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url("../img/icon-header-phone.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }
}

.footer__contacts-chat {
  position: relative;
  padding-left: 65px;

  &::before {
    @include abs-pseudo;
    @include transition(background-color);
    top: 50%;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: $main-color;
    background-image: url("../img/icon-footer-chat.svg");
    background-position: center;
    background-size: 18px 17px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &:hover,
  &:focus {
    &::before {
      background-color: $extra-color;
    }
  }
}

.footer__bottom-row {
  background-color: #fcfcfc;
}

.footer__bottom-row .container {
  @include dflex(nowrap, row, space-between, center);
  padding-top: 27px;
  padding-bottom: 27px;
}

.footer__copyrights {
  font-size: 14px;
  line-height: 16px;
  color: #A2A6B7;
}

.footer__bottom-menu {
  @include list-reset;
  @include dflex(nowrap, row, space-between, center);
}

.footer__bottom-menu-item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.footer__bottom-menu-link {
  font-size: 14px;
  line-height: 16px;
  color: #A2A6B7;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
