.gallery {
  padding-top: 30px;
  padding-bottom: 0;
}

.gallery__wrapper {
  @include dflex(nowrap, row, space-between, stretch);
  min-height: 480px;
  padding: 50px;
  background-color: #fff;

  &--doctors {
    min-height: 0;
    padding: 0;
    background-color: transparent;
  }
}

.gallery__controls-wrapper {
  @include dflex(nowrap, column, flex-start, flex-start);
  flex-basis: 250px;
  margin-right: 10px;

  &--doctors {
    flex-basis: 320px;
    min-height: 420px;
  }
}

.gallery__heading {
  @include reset;
  margin-bottom: 26px;
  font-size: 34px;
  line-height: 34px;
  font-weight: 500;

  &--mobile {
    display: none;
  }

  &--doctors {
    margin-bottom: 40px;
  }
}

.gallery__description {
  @include reset;
  margin-bottom: 52px;
  font-size: 16px;
  line-height: 18px;

  &--doctors {
    margin-bottom: 35px;
  }
}

.gallery__btn {
  min-width: 165px;

  &--doctors {
    margin-bottom: 70px;
  }
}

.gallery__mode-switches {
  @include dflex(nowrap, column, flex-start, flex-start);
}

.gallery__mode-label {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    @include abs-pseudo;
    top: 2px;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #FBFBFF;
    border: 1px solid #EAEAF5;
    border-radius: 50%;
  }

  &::after {
    @include abs-pseudo;
    top: 6px;
    left: 4px;
    display: none;
    width: 7px;
    height: 7px;
    background-color: $accent-color;
    border-radius: 50%;
  }
}

.gallery__radio:checked + .gallery__mode-label {
  font-weight: 500;

  &::after {
    display: block;
  }
}

.gallery__pagination {
  @include dflex(nowrap, row, flex-start, center);
  min-width: 170px;
  height: 50px;
  padding: 10px;
  margin-top: auto;
  border: 1px solid #EAEAF5;

  &--doctors {
    margin-top: 40px;
  }
}

.gallery__arrows {
  @include dflex(nowrap, row, space-between, center);
  width: 70px;
  margin-right: 20px;
}

.gallery__arrow {
  width: 30px;
  height: 30px;
}

.gallery__pagination-counter {
  @include reset;
  font-size: 14px;
  line-height: 14px;
  color: #A2A6B7;
}

.gallery__pagination-current {
  color: $text-color;
}

.gallery__slides-wrapper {
  flex-basis: 640px;
  margin: 0;
  border: none;
  overflow: hidden;

  &--doctors {
    flex-basis: 810px;
  }
}

.gallery__slider {
  @include list-reset;
}

.gallery__slide {
  width: 640px !important;

  &--doctors {
    width: 810px !important;
    height: 630px;
  }
}

@media (max-width: $notebook-width) {
  .gallery__wrapper {
    min-height: 0;
  }

  .gallery__slides-wrapper .flex-viewport {
    width: 600px;
  }

  .gallery__slide {
    width: 600px !important;
  }
}

@media (max-width: $tablet-width) {
  .gallery__heading {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: inline-block;
    }
  }

  .gallery__wrapper {
    flex-direction: column-reverse;
    padding: 20px;
  }

  .gallery__slides-wrapper {
    flex-basis: auto;
    margin-bottom: 30px;
  }

  .gallery .slick-slide img {
    width: 100%;
  }

  .gallery__slides-wrapper .flex-viewport {
    width: calc(100vw - 70px);
  }

  .gallery__slide {
    width: calc(100vw - 70px) !important;
  }

  .gallery__controls-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: auto;
    margin: 0;
  }

  .gallery__description {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .gallery__pagination {
    margin-top: 0;
  }
}

@media (max-width: $mobile-width) {
  .gallery__wrapper {
    padding: 0;
    background-color: transparent;
  }

  .gallery__slides-wrapper {
    background-color: transparent;
  }

  .gallery__slides-wrapper .flex-viewport {
    width: calc(100vw - 20px);
  }

  .gallery__slide {
    width: calc(100vw - 20px) !important;
  }
}

@media (max-width: $xs-mobile-width) {
  .gallery__controls-wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .gallery__pagination {
    margin-top: 20px;
  }
}
