.header {
  @include dflex(nowrap, column, flex-start, stretch);
}

.header__top-container {
  @include dflex(nowrap, row, flex-start, center);
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #F4F4FF;
}

.header__visible-part {
  box-shadow: 0 10px 80px rgba(#00003E, .05);
}

.header__bottom-container {
  @include dflex(nowrap, row, space-between, center);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__submenu-container {
  @include dflex(nowrap, row, flex-start, flex-start);
}

.header__small-menu {
  @include list-reset;
  @include dflex(nowrap, row, flex-start, center);
  margin-right: 85px;
}

.header__small-menu-item {
  &:not(:last-child) {
    margin-right: 43px;
  }
}

.header__small-menu-link {
  color: $text-color;
  font-size: 14px;
  line-height: 100%;
  transition: color .2s linear;

  &:hover,
  &:focus {
    color: $text-hovered;
  }
}

.header__address {
  margin-right: 30px;
  padding-left: 35px;
  font-size: 14px;
  line-height: 100%;
  background-image: url("../img/icon-header-pin.svg");
  background-repeat: no-repeat;
  background-size: 13px 16px;
  background-position: left 4px center;
}

.header__phone {
  margin-right: 30px;
  padding-left: 35px;
  font-size: 14px;
  line-height: 100%;
  background-image: url("../img/icon-header-phone.svg");
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-position: left 2px center;
}

.header__phone-link {
  color: $text-color;
  transition: color .2s linear;

  &:hover,
  &:focus {
    color: $text-hovered;
  }
}

.header__social-list {
  @include list-reset;
  @include dflex(nowrap, row, flex-start, center);
  margin-left: auto;
}

.header__social-item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.header__social-link {
  @include dflex(nowrap, row, center, center);
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid $main-color;
  transition: background-color .2s linear;
  outline: none;

  & path {
    fill: $main-color;
    transition: fill .2s linear;
  }

  &:hover,
  &:focus {
    background-color: $main-color;

    & path {
      fill: #fff;
    }
  }
}

.header__menu {
  @include list-reset;
  @include dflex(nowrap, row, flex-start, center);
}

.header__menu-item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.header__menu-link {
  position: relative;
  padding-right: 28px;
  color: $text-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  transition: color .2s linear;

  &::after {
    @include abs-pseudo;
    top: 50%;
    right: 0;
    width: 8px;
    height: 5px;
    background-image: url("../img/icon-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-50%);
  }

  &:hover,
  &:focus {
    color: $text-hovered;
  }
}

.header__submenu-block {
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
}

.header__submenu-heading {
  @include reset;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}

.header__submenu-list {
  @include list-reset;
  @include dflex(wrap, column, flex-start, flex-start);
  min-height: 100px;
  height: 270px;
  max-height: 300px;
}

.header__submenu-item {
  width: 240px;

  &--parent {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    // margin-right: 55px;
  }
}

.header__submenu-link {
  position: relative;
  padding-left: 35px;
  color: $text-color;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  transition: color .2s linear;

  &:hover,
  &:focus {
    color: $text-hovered;
  }

  &::before {
    @include abs-pseudo;
    top: 50%;
    left: 0;
    width: 3px;
    height: 3px;
    background-color: #54D8AF;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.header__subsubmenu-list {
  @include list-reset;
}

.header__subsubmenu-link {
  padding-left: 35px;
  color: $text-color;
  font-size: 16px;
  line-height: 25px;
  transition: color .2s linear;

  &:hover,
  &:focus {
    color: $text-hovered;
  }
}

.header__submenu-item--parent .header__submenu-link {
  margin-bottom: 25px;
}
