.index-news__news-container {
  @include dflex(wrap, column, space-between, flex-start);
  align-content: space-between;
  max-height: 450px;
  margin-bottom: 55px;
}

.index-news__item {
  max-width: 330px;
}

.index-news__item-img {
  display: block;
  width: 330px;
  height: 225px;
  margin-bottom: 20px;
  object-fit: cover;
}

.index-news__item-date {
  @include reset;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: $main-color;
}

.index-news__item-heading {
  @include reset;
  @include transition(color);
  margin-bottom: 25px;
  color: $text-color;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;

  &:hover,
  &:focus {
    color: $text-hovered;
  }
}

.index-news__item-text {
  @include reset;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: $notebook-width) {
  .index-news__item {
    max-width: 300px;
  }

  .index-news__item-img {
    width: 300px;
    height: 200px;
  }

  .index-news__item-date {
    margin-bottom: 15px;
  }

  .index-news__item-heading {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 22px;
  }

  .index-news__item-text {
    font-size: 16px;
  }
}

@media (max-width: $tablet-width) {
  .index-news__news-container {
    max-height: 750px;
    margin-bottom: 30px;
  }

  .index-news__item {
    max-width: 48.5%;
    margin-bottom: 40px;
  }

  .index-news__item-img {
    width: 100%;
    height: 250px;
  }
}

@media (max-width: $xs-mobile-width) {
  .index-news__news-container {
    flex-wrap: nowrap;
    max-height: none;
    margin-bottom: 0;
  }

  .index-news__item {
    max-width: 100%;
  }

  .index-news__item-img {
    height: auto;
    max-height: 360px;
  }
}
