.modal {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.2);
  z-index: 50;

  &--open {
    display: block;
  }
}

.modal__form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 690px;
  height: auto;
  max-height: calc(100vh - 40px);
  margin: 0;
  background-color: #fff;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  z-index: 100;
}

.modal__close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  cursor: pointer;

  & line {
    @include transition(stroke);
    stroke: #000;
  }

  &:hover,
  &:focus {
    & line {
      stroke: $main-color;
    }
  }
}

.modal__form .btn {
  flex-shrink: 0;
}

@media (max-width: $mobile-width) {
  .modal__form {
    width: calc(100vw - 20px);
  }
}
