.mode-switches {
  @include dflex(nowrap, column, flex-start, flex-start);

  &--researches-disease {
    flex-direction: row;
    margin-bottom: 45px;
  }
}

.mode-switches__mode-label {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    @include abs-pseudo;
    top: 2px;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #FBFBFF;
    border: 1px solid #EAEAF5;
    border-radius: 50%;
  }

  &::after {
    @include abs-pseudo;
    top: 6px;
    left: 4px;
    display: none;
    width: 7px;
    height: 7px;
    background-color: $accent-color;
    border-radius: 50%;
  }
}

.mode-switches--researches-disease .mode-switches__mode-label {
  &:not(:last-child) {
    margin-right: 32px;
    margin-bottom: 10px;
  }
}

.mode-switches__radio:checked + .mode-switches__mode-label {
  font-weight: 500;

  &::after {
    display: block;
  }
}

.mode-switches--researches-status .mode-switches__mode-label,
.mode-switches--researches-disease .mode-switches__mode-label {
  color: #A2A6B7;
}

.mode-switches--researches-status .mode-switches__radio:checked + .mode-switches__mode-label,
.mode-switches--researches-disease .mode-switches__radio:checked + .mode-switches__mode-label {
  color: $text-color;
}

@media (max-width: $tablet-width) {
  .mode-switches {
    &--doctors {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: $mobile-width) {
  .mode-switches {
    &--researches-status {
      flex-wrap: wrap;
      flex-direction: row;
      margin-bottom: 25px;

      & .mode-switches__mode-label {
        &:not(:last-child) {
          margin-right: 32px;
          margin-bottom: 10px;
        }
      }
    }

    &--researches-disease {
      flex-wrap: wrap;
      margin-bottom: 35px;
    }
  }
}
