.nav-block {
  @include dflex(nowrap, row, flex-start, flex-start);
  width: 330px;

  &--research {
    width: 410px;
  }
}

.nav-block__news-navigation {
  @include dflex(nowrap, row, flex-start, flex-start);
}

.nav-block__navigation-arrows {
  @include dflex(nowrap, row, space-between, flex-start);
  min-width: 100px;
  margin-right: 60px;

  &--research {
    margin-right: 40px;
  }
}

.nav-block__navigation-all {
  min-width: 170px;

  &--research {
    min-width: 280px;
  }
}

@media (max-width: $tablet-width) {
  .nav-block__news-navigation {
    justify-content: center;
  }
}

@media (max-width: $mobile-width) {
  .nav-block {
    margin: 0 auto;
  }

  .nav-block__navigation-arrows {
    display: none;
  }

  .nav-block__navigation-all {
    margin: 0 auto;
  }
}
