.top-appointment {
  height: 40px;
  background-color: $extra-color;
}

.top-appointment__form {
  @include dflex(nowrap, row, flex-start, center);
  height: 80px;
}

.top-appointment__select-nest {
  position: relative;
  height: 100%;
  flex-basis: 220px;

  &--speciality {
    flex-grow: 1;
  }
}

.top-appointment__select-label {
  position: absolute;
  top: 21px;
  left: 30px;
}

.top-appointment__form-select {
  width: 100%;
  height: 100%;
  padding: 35px 0 12px 25px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  border: none;
  border-right: 1px solid #EBEBEB;
  appearance: none;
  background-image: url("../img/icon-arrow.svg");
  background-size: 12px 8px;
  background-position: right 32px center;
  background-repeat: no-repeat;
}

.top-appointment__form-option {
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

.top-appointment__form-submit {
  height: 100%;
  flex-basis: 210px;
  text-transform: none;
  font-size: 17px;
  z-index: 1;
}

@media (max-width: $notebook-width) {
  .top-appointment__form-select {
    background-position: right 25px center;
  }
}

@media (max-width: $tablet-width) {
  .top-appointment__select-label {
    left: 20px;
  }

  .top-appointment__form-select {
    padding-left: 15px;
    font-size: 16px;
    background-position: right 15px center;
  }
}

@media (max-width: $mobile-width) {
  .top-appointment {
    // height: 240px;
    height: 20px;
  }

  .top-appointment__form {
    flex-wrap: wrap;
  }

  .top-appointment__select-nest {
    flex-basis: 50%;
  }

  .top-appointment__form-submit {
    flex-basis: 100%;
  }
}
